.salonTemplate {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, .25fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  width: 50%;
  height: 90%;
  margin: 0 auto;
}
