@import '../../index.scss';

.display-terms {
  @include pageMargins;
  font-size: 20px;
  margin-top: 10px;
}

.loading {
  @include pageMargins;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.salon-template {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  width: 95%;
  max-width: 1000px;
  margin: 15px auto;
}

@media screen and (max-width: 800px) {
  .salon-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
  }
}
