.salonTemplate {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 95%;
  max-height: 900px;
  margin: 15px auto;
}
