.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  border: solid black 4px;
}

img {
  width: 100%;
  box-shadow: 0px 3px 6px 3px grey;
  flex-basis: auto;
}

.div0 {
  grid-area: 2 / 7 / 4 / 8;
  display: flex;
  flex-basis: 0;
  flex-direction: column-reverse;
}

.div1 {
  grid-area: 4 / 7 / 7 / 9;
  display: flex;
  flex-basis: 0;
  flex-direction: column-reverse;
}

.div2 {
  grid-area: 3 / 3 / 6 / 5;
  display: flex;
  flex-basis:0;
  flex-direction: column-reverse;
}

.div3 {
  grid-area: 4 / 1 / 6 / 3;
  display: flex;
  flex-basis: 0;
  flex-direction: column-reverse;
}

.div4 {
  grid-area: 7 / 5 / 9 / 8;
  flex-basis: 0;
}

.div5 {
  grid-area: 1 / 5 / 7 / 7;
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 0;
}

.div6 {
  grid-area: 6 / 2 / 9 / 5;
  flex-basis: 0;
}
