@import '../../index.scss';

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: solid black 1px;
}

.logo-container {
  width: 100px;
  text-align: center;
}

h1 {
  @include headerButton;
  font-size: 40px;
}

h2 {
  @include headerButton;
  font-size: 20px;
  margin-top: 22px;
  font-weight:  100;
  text-transform: none;
  padding: 0;
}
