@import '../../index.scss';

header {
  @include pageMargins;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;

  .logo-container {
    width: 100px;
    text-align: center;
  }

  h1 {
    @include headerButton;
    font-size: 35px;

    &:hover {
      @include hoverButton;
      margin-top: -2px;
    }
  }

  h2 {
    @include headerButton;
    font-size: 20px;
    font-weight:  100;
    text-transform: none;
    margin: 14px 10px 0 0;
    padding: 1px;

    &:hover {
      @include hoverButton;
      margin: 12px 10px 0 0;
    }
  }

  .user-buttons {
    flex-direction: row;
    border: none;
    align-self: flex-end;
  }
}

@media screen and (max-width: 390px) {
  header {

    h2 {
      font-size: 13px;
    }

  }


}
