* {
  // border: 1px solid red;
}

.art-details {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.details-image {
  height: 90%;
  max-height: 90vh;
  max-width: 65%;
  // margin-top: 1%;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  // padding: 1em;
}

aside > h3,
aside > p {
  width: 90%;
}

@media only screen and (max-width: 1050px) {
  .art-details {
    flex-direction: column;
  }

  .details-image {
    max-width: 90%;
    width: auto;
    margin-bottom: 10%;
  }

  aside {
    width: 90%;
    font-size: 2.1vh;
  }
}