@import '../../index.scss';

.art-details {
  @include pageMargins;
  margin-top: 15px;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.details-image {
  height: 90%;
  max-height: 90vh;
  max-width: 65%;
  margin-left: 15px;
  box-shadow: 0px 2px 5px 2px grey;
}

.details-content {
  width: 600px;
}

aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  font-size: 1.8vh;
  border: 1px solid black;
}

aside > h3,
aside > p {
  width: 90%;
}

.fav-box {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-size: 20px;

  .favorite {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 3px;
  }

  .not-favorite {
    background: white;
    color: black;
    border: 1px solid black;
    padding: 3px;
  }
}

.error {
  text-align: center;
  @include error;
}

@media screen and (max-width: 1050px) {
  .art-details {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .details-image {
    max-width: 95%;
    width: auto;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .details-content {
    width: 95%;
  }

  aside {
    width: 85%;
    font-size: 2vh;
    margin: 0 auto;
  }

  .fav-box {
    width: 85%;
    margin: 5px auto;
  }
}
