*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

button {
  background-color: #FFFFFF00;
  border: none;
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
  text-transform: none;
  padding: 0;
}
