*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 64%;
}

body {
  box-sizing: border-box;
}

button {
  background-color: #FFFFFF00;
  border: none;
  font-weight:  100;
  text-transform: none;
  padding: 0;
}

section {
  display: block;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
