@mixin headerButton {
  background-color: black;
  color: white;
}

@mixin hoverButton {
  background-color: white;
  color: black;
  border: solid black 1px;
}

@mixin favGrid {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, .75fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;

  @media screen and (max-width: 800px) {
    grid-column-gap: 10px;
  }

  @media screen and (max-width: 450px) {
    grid-column-gap: 6px;
  }
}

@mixin imgSizer {
  max-width: 100%;
  max-height: 100%;
}


@mixin pageMargins {
  width: 95%;
  margin: 0 auto;
}

@mixin error {
  font-size: 20px;
  margin: 50px auto;
}
